
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #f3f4f6;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
}

@media (min-width: 768px) {
  .scroll-section {
    padding: 2rem;
  }
}
